.redTitle {
    color: #FF624D;
    text-align: left;
}

.advisory {
    width: 50%;
    margin-left: 25%;
    padding-left: 50px;
}

.learnMore {
    text-align: left;
    text-decoration: underline;
}

.h3 {
    text-decoration: underline;
}

.left {
    text-align: left;
}

.icon { 
    width: 30px;
    height: 30px;
    display: inline;
    float: left;
    margin-top: 20px;
    margin-left: -40px;
}

.outside {
    width: 60%;
    margin-left: 20%;
}

ok.MuiPaper-rounded {
    border: 2px solid #FF624D !important;
}